<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
<div class="container">
    <!-- start navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">Salon K. Gloser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('special', {slug:'preise'}) }}">Preise</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Standorte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('salon', {slug: 'eschborn'}) }}">Eschborn</a>
                        <a class="dropdown-item" href="{{ path('salon', {slug: 'kelkheim'}) }}">Kelkheim</a>
                        <a class="dropdown-item" href="{{ path('salon', {slug: 'limburg'}) }}">Limburg</a>
                        <a class="dropdown-item" href="{{ path('salon', {slug: 'eckenheim'}) }}">FFM-Eckenheim</a>
                        <a class="dropdown-item" href="{{ path('salon', {slug: 'niederursel'}) }}">FFM-Niderursel</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('special', {slug:'hausbesuche'}) }}">Hausbesuche</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- end navigation -->
    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div class="flex-container-footer">
            <div class="">
                <a class="footerItem" href="{{ path('special', {slug:'impressum'}) }}">Impressum</a>
            </div>
            <div class="">
                <a class="footerItem" href="{{ path('special', {slug:'datenschutzerklaerung'}) }}">Datenschutzerklärung</a>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/popper.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
</div>
</body>
</html>
